In [1]:
import pandas as pd
import pyarrow as pa

In [2]:
from sqlalchemy import create_engine

In [3]:
from time import time

In [4]:
pd.__version__

'2.2.0'

In [5]:
pa.__version__

'15.0.0'

In [6]:
# df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [7]:
df = pd.read_csv('green_tripdata_2019-09.csv', nrows=100)

In [8]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [9]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [12]:
# df = pd.read_csv('green_tripdata_2019-09.csv')

In [13]:
# df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [14]:
# df['date'] = df['tpep_pickup_datetime'].dt.date

In [15]:
# distinct_dates = df['date'].unique()

In [16]:
# print(distinct_dates)

In [17]:
df_iter = pd.read_csv('green_tripdata_2019-09.csv', iterator=True, chunksize=100000)

In [18]:
df = next(df_iter)

In [19]:
len(df)

100000

In [20]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [21]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [22]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 3.59 s
Wall time: 10.4 s

1000

In [23]:
while True: 
    t_start = time()

    df = next(df_iter)

    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk, took %.3f second' % (t_end - t_start))

inserted another chunk, took 8.887 second
inserted another chunk, took 9.221 second

C:\Users\jeff\AppData\Local\Temp\ipykernel_34060\1406748514.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk, took 8.829 second
inserted another chunk, took 4.109 second

StopIteration:

In [ ]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
%time !wget -b https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet --no-check-certificate

In [ ]:
df_zonesP = pd.read_parquet('yellow_tripdata_2021-01.parquet', engine='pyarrow')

In [ ]:
df_zonesP.head()

In [ ]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [ ]:
df_zones.head()

In [ ]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

In [ ]:
df_zonesP.to_sql(name='yellow_taxi_data_parq', con=engine, if_exists='replace')